{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "es6": true,
      "node":true
    },
    "parserOptions":{
      "sourceType":"module",
      "ecmaFeatures": {
        "classes": true,
        "jsx": true
      }
    },
    "plugins": [
      "react", "babel"
    ],
    "ecmaFeatures": {
      "modules": true,
      "classes": true
    },
    "rules": {
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error",
      "quotes": ["error","single",{"avoidEscape": true, "allowTemplateLiterals": true}],
      "semi": ["error"],
      "no-var": "error",
      "prefer-const":"error",
      "prefer-spread":"error",
      "prefer-template": "error"
    }
}

